html {
    font-size: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
}

h1 {
    margin: 0;
}


.main {
    background-color: #EEEEEE;
    border-radius: 0.7rem;
    margin: 3rem 0.3rem 3rem 0.3rem;
    padding-top: 6rem;    

}

.header {
    text-align: center;
}

.header-description {
    font-size: 1.6rem;
}

.content {
    background-color: white;
    width: 97.5%;
    min-height: 67.5rem;
    margin: 0 auto;
    
}

.content__figure {
    overflow: auto;
}

.content__figure-img {
    margin: 0 auto;
    width: 80%;
    display: block;
}

.content__figure-description {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0rem 0.5rem 0rem;
}

.information {
    margin: 0 auto;
    overflow: auto;
    
}

.information-title {
    text-align: center;
    margin: 5.5rem 0 5.5rem 0;
    font-size: 1.9rem;
}

.information__list {
    max-width: 550px;
    margin: 0 auto;
}

.information__blockquote {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    padding-left: 0.4rem;
    max-width: 54rem;
    margin: 5.6rem auto;

}



.information__list-punkt {
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 1.6rem;
}

.information__footer {
    font-size: 1.8rem;
    margin-bottom: 4rem;

}